#html, body {
    padding: 0;
    margin: 0;
}

#cols {
    padding: 0;
    margin: 0;
    font-size: 0;
}

#cols > div {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 12pt;
    vertical-align: top;
    height: 100%;
    border-left: 2px solid #F6F6F6;
    resize: horizontal;
    overflow: auto;
}

#cols > div#col0 {
    border-left: 0;
}

.cols-2 > div {
    width: calc(50% - 2px);
}

.cols-3 > div {
    width: calc(33.3% - 4px);
}

.cols-4 > div {
    width: calc(25% - 6px);
}

.cols-5 > div {
    width: calc(20% - 8px);
}