*.dll
*.pdb
*.cache
*.xml
*.csv
*.deps.json
.DS_Store
WaterAbstractionLicenseExtractor.sln.DotSettings.user
launchSettings.json
local.settings.json
/WALE.ProcessFile.AzureFunction.BlobTrigger/bin
/WALE.ProcessFile.AzureFunction.BlobTrigger/obj
/WALE.ProcessFile.AzureFunction.ServiceBusTrigger/bin
/WALE.ProcessFile.AzureFunction.ServiceBusTrigger/obj
/WALE.ProcessFile.Services/bin
/WALE.ProcessFile.Services/obj
/WALE.ProcessFile.Services.Tests/bin
/WALE.ProcessFile.Services.Tests/obj
/WaterAbstractionLicenseExtractor.Cmd/bin
/WaterAbstractionLicenseExtractor.Cmd/obj
