# Build outputs
bin/
obj/
*.dll
*.pdb
*.cache
*.deps.json

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/
*.DotSettings.user

# IDE
.idea/
.DS_Store

# Application settings
launchSettings.json
local.settings.json
appsettings.Development.json

# Documentation
*.xml

# Project-specific
licence-number-filename-map.csv