{
  "$schema": "http://json.schemastore.org/launchsettings.json",
  "profiles": {
    "WaterAbstractionLicenseExtractor.Cmd": {
      "commandName": "Project",
      "environmentVariables": {
        "TESSDATA_PREFIX": "../../../../WALE.ProcessFile.Services/tessdata",
        "AzureAIVisionEndpoint": "[FILLIN]",
        "AzureAIVisionKey": "[FILLIN]",
        "PdfFolderPath": "../../../../../WaterPdfs/",
        "ReportTemplatePath": "../../../../WALE.ProcessFile.Services/Templates/",
        "FileMappingPath": "../../../../licence-number-filename-map.csv",
        "OutputFolder": "Output/",
        "CacheFolder": "Cache/",
        "ConcurrentCount": "10",
        "REGENERATE_MAPPING_JSON": "true",
        "LOAD_AI_JS": "false",
        "RefreshCache": "false",
        "POSTGRESQL_HOST": "localhost",
        "POSTGRESQL_PORT": "5432",
        "POSTGRESQL_DBNAME": "wale",
        "POSTGRESQL_USERNAME": "ea",
        "POSTGRESQL_PASSWORD": "EnvironmentAgency1",
        "ListDataPath": "list-data.js",
        "ProcessRunsDataPath": "",
        "InternalDataPath": "filename + '/internal.jsonp'",
        "LicenceDataPath": "filename + '/licence.jsonp'",
        "LicenceSetsDataPath": "filename + '/licence-sets.jsonp'",
        "ThumbnailImageDataPath": "''",
        "FullImageDataPath": "''",
        "DotnetPath": "/usr/local/share/dotnet/dotnet",
        "TesseractExeName": "WALE.ProcessFile.Services.TesseractExe.dll",
        "TesseractExeDirectory": "[Fill in]",
        "ApiBaseUrl": ""
      }
    }
  }
}