<html lang="en">
<head>
    <script>const LOAD_AI = [LOAD_AI_JS];</script>
    <link rel="stylesheet" href="Assets/liststyles.css" />
    
    <title>Water licences list</title>
</head>
<body id="list-page">
    <h1><a href="#" id="licencesLink" class="selected">Licences</a> | <a href="#" id="licenceSetsLink">Licence sets</a></h1>
    
    <div id="licences">    
        <table id="licencesTable">
            <thead>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <select id="licence-number-filter" data-field="licenceNumber" data-type="EmptyOrNot">
                        <option value="all">All</option>
                        <option value="populated">Not empty</option>
                        <option value="empty">--</option>
                    </select>
                </td>
                <td class="default-hidden">
                    <select id="licence-holder-filter" data-field="licenceHolder" data-type="EmptyOrNot">
                        <option value="all">All</option>
                        <option value="populated">Not empty</option>
                        <option value="empty">--</option>
                    </select>
                </td>
                <td>
                    <select id="purposes-filter" data-field="purposes" data-type="EmptyOrNotArray">
                        <option value="all">Any amount</option>
                        <option value="populated">Not empty</option>
                        <option value="empty">--</option>
                    </select>
                </td>
                <td>
                    <select id="points-filter" data-field="points" data-type="EmptyOrNotArray">
                        <option value="all">Any amount</option>
                        <option value="populated">Not empty</option>
                        <option value="empty">--</option>
                    </select>
                </td>
                <td>
                    <select id="limits-filter" data-field="limitsCount" data-type="EmptyOrNotInt">
                        <option value="all">Any amount</option>
                        <option value="populated">Not empty</option>
                        <option value="empty">--</option>
                    </select>
                </td>
                <td>
                    <select id="aggregates-filter" data-field="aggregatesCount" data-type="EmptyOrNotInt">
                        <option value="all">Any amount</option>
                        <option value="populated">Not empty</option>
                        <option value="empty">--</option>
                    </select>
                </td>
                <td>
                    <select id="ocr-filter" data-field="ocr" data-type="Bool">
                        <option value="all">All</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </td>
                <td>
                    <select id="issue-date-filter" data-field="issueDate" data-type="Year">
                        <option value="all">All</option>
                        <option value="populated">Not empty</option>
                        <option value="empty">--</option>
                    </select>
                </td>
                <td>
                    <select id="issuer-filter" data-field="issuer" data-type="Values">
                        <option value="all">All</option>
                        <option value="populated">Not empty</option>
                        <option value="empty">--</option>
                    </select>
                </td>
                <td>
                    <select id="means-filter" data-field="meansFound" data-type="Bool">
                        <option value="all">All</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </td>
                <td>
                    <select id="linked-licences-filter" data-field="linkedLicences" data-type="EmptyOrNotArray">
                        <option value="all">Any amount</option>
                        <option value="populated">Not empty</option>
                        <option value="empty">--</option>
                    </select>
                </td>
                <td>
                    <select id="licence-sets-filter" data-field="shortLicenceSetIds" data-type="ArrayValue">
                        <option value="all">All</option>
                        <option value="populated">Not empty</option>
                        <option value="empty">--</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style='width: 5%'>&nbsp;</td>
                <td style='width: 10%'>Filename <a href="javascript: sortBy('filename')">&#8693;</a></td><!--15-->
                <td style='width: 7%'>Licence number <a href="javascript: sortBy('licenceNumber')">&#8693;</a></td><!--22-->
                <td style='width: 5%' class="default-hidden">Licence holder <a href="javascript: sortBy('licenceHolder')">&#8693;</a></td>
                <td style='width: 14%'>Purposes <a href="javascript: sortBy('purposes')">&#8693;</a></td><!--36-->
                <td style='width: 14%'>Points <a href="javascript: sortBy('points')">&#8693;</a></td><!--50-->
                <td style='width: 7%'>Abstraction limits <a href="javascript: sortBy('limitsCount')">&#8693;</a></td><!--57-->
                <td style='width: 5%'>Aggregates <a href="javascript: sortBy('aggregatesCount')">&#8693;</a></td><!--62-->
                <td style='width: 5%'>Scanned file <a href="javascript: sortBy('ocr')">&#8693;</a></td><!--67-->
                <td style='width: 5%'>Issue date <a href="javascript: sortBy('issueDate')">&#8693;</a></td><!--72-->
                <td style='width: 6%'>Issuer <a href="javascript: sortBy('issuer')">&#8693;</a></td><!--78-->
                <td style='width: 7%'>Means of abstraction <a href="javascript: sortBy('meansFound')">&#8693;</a></td><!--85-->
                <td style='width: 7%'>Linked&nbsp;licences <a href="javascript: sortBy('linkedLicences')">&#8693;</a></td><!--92-->
                <td style='width: 8%'>Licence sets <a href="javascript: sortBy('shortLicenceSetIds')">&#8693;</a></td><!--100-->
            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr style='font-weight: bold;'>
                    <td>Total</td>
                    <td id="filename-total"></td>
                    <td id="licence-number-total"></td>
                    <td id="licence-holder-total" class="default-hidden"></td>
                    <td id="purposes-total"></td>
                    <td id="points-total"></td>
                    <td id="limits-total"></td>
                    <td id="aggregates-total"></td>
                    <td id="ocr-total"></td>
                    <td id="issue-date-total"></td>
                    <td id="issuer-total"></td>
                    <td id="means-total"></td>
                    <td id="linked-licences-total"></td>
                    <td id="licence-sets-total"></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div id="licenceSets">
        <table>
            <thead>
            <tr>
                <td></td>
                <td>Licence set id</td>
                <td>Licence number</td>
                <td>Filename</td>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            <tr style='font-weight: bold;'>
                <td>Total</td>
                <td id="ls-licence-set-total"></td>
                <td id="ls-licence-number-total"></td>
                <td id="ls-filename-total"></td>
            </tr>            
            </tfoot>
        </table>       
        
        <p style="font-style: italic">NOTE - Only showing licence sets containing multiple licences</p>
    </div>

    <div id="iframeDiv">
        <div id="iframeDivHeader">
            <a id="closeLink" href="#">&#10006;</a>
            <a id="maximiseLink" href="#">&#128470;</a>
            <a id="minimiseLink" href="#">&#95;</a>
        </div>

        <iframe id="iframe" src="about:blank"></iframe>
    </div>
    
    <script src="list-data.js"></script>
    <script src="Assets/list.js"></script>
</body>
</html>