<html lang="en">
<head>
    <title>Licence validation report</title>
    <link rel="stylesheet" href="../../Templates/styles.css" />
</head>
<body>
    <table>
        <tr>
            <td class="left-cell">
                <div id="leftDetails">
                    <div id="view-edit">
                        <a href="#" onclick="showView(1); return false;" id="view1" class="viewSelected">View</a> | <a href="#" onclick="showView(2); return false;" id="view2">Edit</a>
                    </div>                
                    
                    <dl id="properties"></dl>
    
                    <div id="propertiesNew">
                        <div id="licenceNumberTxtDiv">
                            <label for="licenceNumberTxt">Licence number</label><br>
                            <input type="text" id="licenceNumberTxt" />
                        </div>

                        <div id="licenceHolderTxtDiv">
                            <label for="licenceHolderTxt">Licence holder</label><br>
                            <input type="text" id="licenceHolderTxt" />
                        </div>                        
                        
                        <div id="back-continue-area">
                            <button id="backButton" onclick="return backPressed()">Back</button>
                            <button id="continueButton" onclick="return continuePressed()">Continue</button>
                        </div>
                    </div>
    
                    <h1><a href="../index.html">Back to all licences</a></h1>
                </div>
            </td>
            <td class="right-cell">
                <div id="rightPdf">
                    <h1><a id="filename" href="#" target="_blank">Licence</a></h1>
                    
                    <ul>
                        <li><a href="#" onclick="return showTab('pdf-images')" class="selectedTab">PDF</a></li>
                        <li><a href="#" onclick="return showTab('json')">JSON</a></li>
                        <li><a href="#" onclick="return showTab('jsonpath')">JSONPath</a></li>
                        <li><a href="#" onclick="return showTab('text')">Text</a></li>
                    </ul>
                    
                    <div id="iframeParent">
                        <div id="pdf-images"></div>
                        <!--<iframe id="iframe"></iframe>-->
                    </div>
                    
                    <div id="jsonPath">
                        JSON path tester <input type="text" id="txtJsonPath" onchange="evaluateJsonPath(); return false;" />
    
                        <div id="jsonPathOutput">--</div>
                        <pre id="dataOutput">--</pre>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <script src="data.jsonp"></script>
    <script src="../../Templates/settings.js"></script>
    <script src="../../Templates/report.js"></script>
    <script src="../../Templates/jsonpath-0.8.0.js"></script>
    <script src="../licence-number-filename-map.jsonp"></script>
</body>
</html>