<html lang="en">
<head>
    <title>Licence validation report</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            overscroll-behavior: none;
            overflow: hidden;
        }
        
        h1 {
            font-size: 14pt;
        }

        table {
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }

        table tr {
            height: 100%;
        }

        table tr td {
            width: 50%;
            height: 100%;
            vertical-align: top
        }
        
        #iframeParent {
            position: absolute;
            top: 75px;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: scroll;
        }
        
        #iframe, #jsonPath {
            width: 100%;
            height: 10000px;
            border: 1px solid #000;
        }
        
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0 0 -1px 20px;
        }
        
        ul li {
            position: relative;
            display: inline-block;
            margin: 0 10px 0 0;
            padding: 5px 10px;
            border: 1px solid #000;
            border-bottom: 0;
            background-color: #FFF;
            z-index: 10;
        }
        
        #rightPdf ul li a {
            text-decoration: none;
        }
        
        dl {
            margin: 0;
        }
        
        dl a {
            text-decoration: none;
        }
        
        .viewSelected {
            background-color: slategrey;
            text-decoration: none;
            color: #FFF;
            cursor: none;
        }

        #leftDetails::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }

        #leftDetails::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: rgba(0,0,0,.5);
            -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
        }
        
        .selectedTab {
            font-weight: bold;
        }
    </style>

    <script src="data.jsonp"></script>
    <script src="../../Templates/settings.js"></script>
    <script src="../../Templates/jsonpath-0.8.0.js"></script>
    <script src="../licence-number-filename-map.jsonp"></script>
</head>
<body>
    <table>
        <tr>
            <td style="position:relative; border-right: 1px solid #DDD;">
                <div style="width: 100%; height: 100vh; overflow: auto" id="leftDetails">
                    <div style="position: absolute; top: 20px; right: 20px; z-index: 1">
                        <a href="#" onclick="showView(1); return false;" id="view1" class="viewSelected">View</a> | <a href="#" onclick="showView(2); return false;" id="view2">Edit</a>
                    </div>                
                    
                    <dl id="properties"></dl>
    
                    <div id="propertiesNew" style="display: none; height: 95vh; position:relative;">
                        <div id="licenceNumberTxtDiv" style="position: absolute; top: 30%; margin-top: -20px; left: 50%; margin-left: -275px; width: 500px; font-size: 30px">
                            <label for="licenceNumberTxt">Licence number</label><br>
                            <input type="text" id="licenceNumberTxt" style="font-size: 30px; width: 100%" />
                        </div>

                        <div id="licenceHolderTxtDiv" style="position: absolute; top: 30%; margin-top: -20px; left: 50%; margin-left: -275px; width: 500px; font-size: 30px; visibility: hidden">
                            <label for="licenceHolderTxt">Licence holder</label><br>
                            <input type="text" id="licenceHolderTxt" style="font-size: 30px; width: 100%" />
                        </div>                        
                        
                        <div style="position: absolute; bottom: 80px; right: 20px;">
                            <button id="backButton" style="font-size: 20pt; display: none" onclick="return backPressed()">Back</button>
                            <button style="font-size: 20pt" onclick="return continuePressed()">Continue</button>
                        </div>
                    </div>
    
                    <h1><a href="../index.html">Back to all licences</a></h1>
                </div>
            </td>
            <td style="position: relative;">
                <div style="position:relative; width: 100%; height: 100vh; overflow: auto;" id="rightPdf">
                    <h1><a id="filename" href="#" target="_blank">Licence</a></h1>
                    
                    <ul>
                        <li><a href="#" onclick="return showTab('pdf')" class="selectedTab">PDF</a></li>
                        <li><a href="#" onclick="return showTab('json')">JSON</a></li>
                        <li><a href="#" onclick="return showTab('jsonpath')">JSONPath results</a></li>
                        <li><a href="#" onclick="return showTab('text')">Text</a></li>
                        <li><a href="#" onclick="return showTab('images')">Images</a></li>
                    </ul>
                    
                    <div id="iframeParent">
                        <iframe id="iframe" style="pointer-events: none"></iframe>
                    </div>
    
                    <div id="jsonPath" style="visibility: hidden;">
                        JSON path tester <input type="text" id="txtJsonPath" onchange="evaluateJsonPath(); return false;" />
    
                        <div id="jsonPathOutput">--</div>
                        <pre id="dataOutput" style="height: 1000px; width: 50vw;     overflow: scroll;">--</pre>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    
    <script>
        const HEADER_SIZE = 200;
        const PAGE_HEIGHT_PX = 1060;

        let pdfPath = jssettings.pdfFolder + data.filename;
        document.getElementById("iframe").src = pdfPath;
        
        let filenameEle = document.getElementById("filename");
        filenameEle.innerHTML = data.filename;
        filenameEle.href = pdfPath;
        
        document.title = data.filename + " validation report";
        
        document.getElementById("dataOutput").innerHTML = JSON.stringify(data, null, '   ');

        addJsonPathElement(data, '$.matches[?(@.labelGroupName==\'LicenceNumber\')]', "licenceNumber", "<strong>Licence number</strong>", "licenceNumberGroup");
        document.getElementById("licenceNumberTxt").value = getText(data, '$.matches[?(@.labelGroupName==\'LicenceNumber\')]');
        
        addJsonPathElement(data, '$.matches[?(@.labelGroupName==\'Company\')]', "grantedTo", "<strong>Licence holder</strong>", "grantedToGroup");
        document.getElementById("licenceHolderTxt").value = getText(data, '$.matches[?(@.labelGroupName==\'Company\')]');

        var sb2 = [];
        sb2.push("<dt><strong>Purpose</strong></dt><dd id='purposes'><dl>");

        let purposeMatches = jsonPath(data, '$.matches[?(@.labelGroupName==\'Purpose\')]');

        if (purposeMatches != null && purposeMatches.length > 0) {
            for (let idx = 0, len = purposeMatches.length; idx < len; idx++) {
                let purposeMatch = purposeMatches[idx];

                if (purposeMatch == null || purposeMatch.text == null || purposeMatch.text.length === 0) {
                    continue;
                }

                sb2.push("<dt><a href='#' onclick='jumpToPage(this); return false;' data-page='" + purposeMatch.pageNumber + "'>"
                    + purposeMatch.text[0].text + "</a></dt><dd><dl>");
                
                let abstractionLimitsMatches = jsonPath(data, '$.matches[?(@.labelGroupName==\'AbstractionLimits\')]');
                let meansOfAbstractionMatches = jsonPath(data, '$.matches[?(@.labelGroupName==\'MeansOfAbstraction\')]');

                let hasAbstractionLimits = abstractionLimitsMatches != null && abstractionLimitsMatches.length > 0;
                let hasMeansOfAbstraction = meansOfAbstractionMatches != null && meansOfAbstractionMatches.length > 0;
                
                if (hasAbstractionLimits || hasMeansOfAbstraction) {
                    let sb = [];
                    
                    if (hasAbstractionLimits) {
                        let abstractionLimitsSection = abstractionLimitsMatches[0];
                        let abstractionLimitsConditionBlocks = abstractionLimitsSection.subResults;

                        sb.push(...processAbstractionLimits(abstractionLimitsConditionBlocks, 0));
                    }
                    
                    if (hasMeansOfAbstraction) {
                        let secondValue = getText(meansOfAbstractionMatches[0],
                            '$.subResults[?(@.matchedLabel != null && @.matchedLabel.name==\'PerSecondValueMeans\')]');

                        let secondUnits = getText(meansOfAbstractionMatches[0],
                            '$.subResults[?(@.matchedLabel != null && @.matchedLabel.name==\'PerSecondUnitsMeans\')]');

                        if (!!secondValue) {
                            sb.push('<dt>Means of abstraction</dt><dd><dl>'
                                + '<dt><strong>Per second</strong></dt><dd>' + parseFloat(secondValue).toLocaleString()
                                + ' ' + secondUnits + '</dd></dl></dd>');
                        }
                    }
                    
                    sb2.push(sb.join(''));
                }
                
                sb2.push("</dl></dd>");
            }
        }

        sb2.push("</dl></dd>");
        document.getElementById('properties').innerHTML += sb2.join('');
        
        function processAbstractionLimits(abstractionLimitsConditionBlocks, level) {
            if (level > 3) return [];

            let isLinkedLicenceLevel = level > 0
            let sb = [];
            
            sb.push("<dt><strong>Authorised quantities</strong></dt><dd id='abstractionLimits'><dl>");
            
            for (let idx = 0, len = abstractionLimitsConditionBlocks.length; idx < len; idx++) {
                let conditionBlock = abstractionLimitsConditionBlocks[idx];
                
                for (let jdx = 0, jen = conditionBlock.subResults.length; jdx < jen; jdx++) {
                    sb.push("<dt>");                
                
                    let conditionBlockSub = conditionBlock.subResults[jdx];
                    let conditionBlockPurpose = getText(conditionBlockSub,
                        '$.subResults[?(@.matchedLabel != null && @.matchedLabel.name==\'PointPurpose\')]');

                    //TODO when no purpose found, carry on with a placeholder purpose

                    let linkedLicenceNumbers = getMatches(conditionBlockSub,
                        '$.subResults[?(@.matchedLabel != null && @.matchedLabel.name==\'LinkedLicenceNumber\')]');
                    
                    if (!!conditionBlockPurpose) {
                        if (!isLinkedLicenceLevel) sb.push("<a href='#' onclick='jumpToPage(this); return false;' data-page='" + conditionBlockSub.pageNumber + "'>");
                        sb.push(conditionBlockPurpose);
                        if (!isLinkedLicenceLevel) sb.push("</a>");
                    } else if (linkedLicenceNumbers.length > 0) {
                        sb.push("In aggregation with other licences");                   
                    } else {
                        sb.push("All Year");
                    }
                    
                    sb.push("</dt><dd><dl>");

                    let secondValue = getText(conditionBlockSub,
                        '$.subResults[?(@.matchedLabel != null && @.matchedLabel.name==\'PerSecondValue\')]');

                    let secondUnits = getText(conditionBlockSub,
                        '$.subResults[?(@.matchedLabel != null && @.matchedLabel.name==\'PerSecondUnits\')]');

                    if (!!secondValue) {
                        sb.push("<dt><strong>Per second</strong></dt>");
                        sb.push("<dd>");
                        if (!isLinkedLicenceLevel) sb.push("<a href='#' onclick='jumpToPage(this); return false;' data-page='" + conditionBlockSub.pageNumber + "'>");
                        sb.push(parseFloat(secondValue).toLocaleString() + " " + secondUnits);
                        if (!isLinkedLicenceLevel) sb.push("</a>");
                        sb.push("</dd>");
                    }

                    let hourValue = getText(conditionBlockSub,
                        '$.subResults[?(@.matchedLabel != null && @.matchedLabel.name==\'PerHourValue\')]');

                    let hourUnits = getText(conditionBlockSub,
                        '$.subResults[?(@.matchedLabel != null && @.matchedLabel.name==\'PerHourUnits\')]');

                    if (!!hourValue) {
                        sb.push("<dt><strong>Per hour</strong></dt>");
                        sb.push("<dd>");
                        if (!isLinkedLicenceLevel) sb.push("<a href='#' onclick='jumpToPage(this); return false;' data-page='" + conditionBlockSub.pageNumber + "'>");
                        sb.push(parseFloat(hourValue).toLocaleString() + " " + hourUnits);
                        if (!isLinkedLicenceLevel) sb.push("</a>");
                        sb.push("</dd>");
                    }

                    let dayValue = getText(conditionBlockSub,
                        '$.subResults[?(@.matchedLabel != null && @.matchedLabel.name==\'PerDayValue\')]');

                    let dayUnits = getText(conditionBlockSub,
                        '$.subResults[?(@.matchedLabel != null && @.matchedLabel.name==\'PerDayUnits\')]');

                    if (!!dayValue) {
                        sb.push("<dt><strong>Per day</strong></dt>");
                        sb.push("<dd>");
                        if (!isLinkedLicenceLevel) sb.push("<a href='#' onclick='jumpToPage(this); return false;' data-page='" + conditionBlockSub.pageNumber + "'>");
                        sb.push(parseFloat(dayValue).toLocaleString() + " " + dayUnits);
                        if (!isLinkedLicenceLevel) sb.push("</a>");
                        sb.push("</dd>");
                    }

                    let monthValue = getText(conditionBlockSub,
                        '$.subResults[?(@.matchedLabel != null && @.matchedLabel.name==\'PerMonthValue\')]');

                    let monthUnits = getText(conditionBlockSub,
                        '$.subResults[?(@.matchedLabel != null && @.matchedLabel.name==\'PerMonthUnits\')]');

                    if (!!monthValue) {
                        sb.push("<dt><strong>Per month</strong></dt>");
                        sb.push("<dd>");
                        if (!isLinkedLicenceLevel) sb.push("<a href='#' onclick='jumpToPage(this); return false;' data-page='" + conditionBlockSub.pageNumber + "'>");
                        sb.push(parseFloat(monthValue).toLocaleString() + " " + monthUnits);
                        if (!isLinkedLicenceLevel) sb.push("</a>");
                        sb.push("</dd>");
                    }

                    let yearValue = getText(conditionBlockSub,
                        '$.subResults[?(@.matchedLabel != null && @.matchedLabel.name==\'PerYearValue\')]');

                    let yearUnits = getText(conditionBlockSub,
                        '$.subResults[?(@.matchedLabel != null && @.matchedLabel.name==\'PerYearUnits\')]');

                    if (!!yearValue) {
                        sb.push("<dt><strong>Per year</strong></dt>");
                        sb.push("<dd>");
                        if (!isLinkedLicenceLevel) sb.push("<a href='#' onclick='jumpToPage(this); return false;' data-page='" + conditionBlockSub.pageNumber + "'>");
                        sb.push(parseFloat(yearValue).toLocaleString() + " " + yearUnits);
                        if (!isLinkedLicenceLevel) sb.push("</a>");
                        sb.push("</dd>");
                    }

                    let linkedLicences = getMatches(conditionBlockSub,
                        '$.subResults[?(@.matchedLabel != null && @.matchedLabel.name==\'LinkedLicence\')]');
                    
                    for (let kdx = 0, ken = linkedLicenceNumbers.length; kdx < ken; kdx++) {
                        let linkedLicenceNumber = toText(linkedLicenceNumbers[kdx]);

                        if (!linkedLicenceNumber) {
                            continue;
                        }

                        let mapMatch = typeof (mapData) !== 'undefined'
                            && mapData.licenceNumberToFilename[linkedLicenceNumber];
                        
                        if (!mapMatch) mapMatch = "--";

                        sb.push("<dt><strong>Linked licence</strong></dt><dd><dl>");
                        sb.push("<dt><strong>Licence number</strong></dt><dd>"
                            + "<a href='../" + mapMatch.replace(".pdf", "").replace(".PDF", "").replaceAll(".", "-")
                            + "/report.html'>" + linkedLicenceNumber + "</a></dd>");

                        let linkedLicence = linkedLicences.length > kdx ? linkedLicences[kdx] : null;
                        
                        if (!linkedLicence) {
                            sb.push("</dl></dd>");
                            continue;
                        }
                        
                        let linkedAssignedTo = getText(linkedLicence,
                            '$.subResults[?(@.labelGroupName==\'Company\')]');

                        sb.push("<dt><strong>Licence holder</strong></dt>");
                        sb.push("<dd>");
                        sb.push(linkedAssignedTo);
                        sb.push("</dd>");

                        let linkedLicenceAbstractionLimits = jsonPath(
                            linkedLicence,
                            '$.subResults[?(@.labelGroupName==\'AbstractionLimits\')]')[0];
                        
                        let linkedLicenceAbstractionLimitsSubResults = linkedLicenceAbstractionLimits.subResults;
                        sb.push(...processAbstractionLimits(linkedLicenceAbstractionLimitsSubResults, level + 1));

                        sb.push("</dl></dd>");
                    }

                     sb.push("</dl></dd>");
                }
            }

            sb.push("</dl></dd>");
            return sb;
        }

        function getMatches(dataToUse, path) {
            let jsonPathResults = jsonPath(dataToUse, path);

            if (jsonPathResults == null || jsonPathResults.length === 0) {
                return [];
            }

            return jsonPathResults;
        }        
        
        function getMatch(dataToUse, path) {
            let matches = getMatches(dataToUse, path);
            return matches.length > 0 ? matches[0] : null;
        }
        
        function getText(dataToUse, path) {
            let matched = getMatch(dataToUse, path);

            return toText(matched);
        }
        
        function toText(matched) {
            if (matched == null || matched.text == null || matched.text.length === 0) {
                return null;
            }

            return matched.text[0].text;
        }
        
        function addJsonPathElement(dataToUse, path, eleId, text, groupEleId, extraHtml) {
            let jsonPathResults = jsonPath(dataToUse, path);
            
            if (jsonPathResults == null || jsonPathResults.length === 0) {
                return null;
            }
            
            let matched = jsonPathResults[0];
            
            if (matched == null || matched.text.length === 0) {
                return null;
            }
            
            if (text != null) {
                let ddEle = document.getElementById(groupEleId + "-dd");
                let ddExists = ddEle != null;
                
                let sb = [];
                
                if (!ddExists) {
                    sb.push("<dt>" + text + "</dt>");
                    sb.push("<dd id='" + groupEleId + "-dd'>")
                }
                
                sb.push("<a href='#' onclick='jumpToPage(this); return false;' data-page='0' id='" + eleId + "'>[NOT FOUND]</a> ");

                if (extraHtml != null)
                {
                    sb.push(extraHtml);
                }
                
                if (!ddExists) {
                    sb.push("</dd>")
                }
                
                if (!ddExists) {
                    document.getElementById('properties').innerHTML += sb.join('');
                } else {
                    ddEle.innerHTML += sb.join('');                    
                }
            }
            
            let ele = document.getElementById(eleId);
            ele.innerHTML = matched.text[0].text;
            ele.setAttribute("data-page", matched.pageNumber);
            
            return matched.text[0].text;
        }
        
        function jumpToPage(ele) {
            let pageNumber = parseInt(ele.getAttribute('data-page')) - 1;
            jumpToPageNumber(pageNumber);
        }

        function jumpToPageNumber(pageNumber) {
            scrollIframe((pageNumber > 0 ? HEADER_SIZE : 0) + (pageNumber * PAGE_HEIGHT_PX));
        }
        
        function scrollIframe(yScrollTo) {
            document.getElementById("iframeParent").scrollTo({
                top: yScrollTo,
                left: 0,
                behavior: 'smooth'
            });
        }
        
        function evaluateJsonPath() {
            let path = document.getElementById("txtJsonPath").value;
            let result  = jsonPath(data, path);

            document.getElementById("jsonPathOutput").innerHTML = JSON.stringify(result)
        }
        
        function showTab(tabName) {
            if (tabName === "pdf") {
                document.getElementById("iframeParent").style.visibility = "visible";
                document.getElementById("jsonPath").style.visibility = "hidden";
            } else {
                document.getElementById("jsonPath").style.visibility = "visible";
                document.getElementById("iframeParent").style.visibility = "hidden";
            }
            
            return false;
        }
        
        function showView(index) {
            if (index === 2) {
                document.getElementById("view1").className = "";
                document.getElementById("view2").className = "viewSelected";
                
                document.getElementById("properties").style.display = "none";
                document.getElementById("propertiesNew").style.display = "block";

                jumpToPageNumber(2);
            } else {
                document.getElementById("view1").className = "viewSelected";
                document.getElementById("view2").className = "";

                document.getElementById("properties").style.display = "block";
                document.getElementById("propertiesNew").style.display = "none";

                jumpToPageNumber(0);                
            }
        }
        
        function continuePressed() {
            document.getElementById('licenceNumberTxtDiv').style.visibility = 'hidden';
            document.getElementById('licenceHolderTxtDiv').style.visibility = 'visible';
            document.getElementById('backButton').style.display = 'inline-block';
            
            return false;
        }
        
        function backPressed() {
            document.getElementById('licenceNumberTxtDiv').style.visibility = 'visible';
            document.getElementById('licenceHolderTxtDiv').style.visibility = 'hidden';            
            
            return false;
        }
    </script>
</body>
</html>